@font-face {
	font-style: medium;
	font-weight: 400;
	font-display: swap;
	font-family: "Manrope";
	src: local("Manrope-Medium"),
		url("../fonts/Manrope-Medium.woff2") format("woff2"),
		url("../fonts/Manrope-Medium.woff") format("woff"),
		url("../fonts/Manrope-Medium.woff") format("truetype");
}

@font-face {
	font-style: regular;
	font-weight: 500;
	font-display: swap;
	font-family: "Manrope";
	src: local("Manrope-Regular"),
		url("../fonts/Manrope-Regular.woff2") format("woff2"),
		url("../fonts/Manrope-Regular.woff") format("woff"),
		url("../fonts/Manrope-Regular.woff") format("truetype");
}

@font-face {
	font-style: semibold;
	font-weight: 600;
	font-display: swap;
	font-family: "Manrope";
	src: local("Manrope-SemiBold"),
		url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
		url("../fonts/Manrope-SemiBold.woff") format("woff"),
		url("../fonts/Manrope-SemiBold.woff") format("truetype");
}

@font-face {
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	font-family: "Manrope";
	src: local("Manrope-Bold"), url("../fonts/Manrope-Bold.woff2") format("woff2"),
		url("../fonts/Manrope-Bold.woff") format("woff"),
		url("../fonts/Manrope-Bold.woff") format("truetype");
}
